@import "tailwindcss";

@theme {
	--font-sans: "PT Sans", sans-serif;
	--font-heading: "din-2014-narrow", sans-serif;

	--color-primary-50: #fff1f1;
	--color-primary-100: #ffe0e1;
	--color-primary-200: #ffc5c7;
	--color-primary-300: #ff9da0;
	--color-primary-400: #ff656a;
	--color-primary-500: #fe353b;
	--color-primary-600: #db1218;
	--color-primary-700: #c70e14;
	--color-primary-800: #a41014;
	--color-primary-900: #881417;
	--color-primary-950: #4a0507;
	--color-accent-50: #fff8eb;
	--color-accent-100: #feecc7;
	--color-accent-200: #fdd78a;
	--color-accent-300: #fcc059;
	--color-accent-400: #fba224;
	--color-accent-500: #f57f0b;
	--color-accent-600: #d95b06;
	--color-accent-700: #b43c09;
	--color-accent-800: #922e0e;
	--color-accent-900: #78270f;
	--color-accent-950: #451103;
	--color-success-50: #f2fbf2;
	--color-success-100: #e2f6e2;
	--color-success-200: #c6ecc7;
	--color-success-300: #99dc9b;
	--color-success-400: #65c368;
	--color-success-500: #3c9f40;
	--color-success-600: #2f8a33;
	--color-success-700: #286d2b;
	--color-success-800: #245727;
	--color-success-900: #1f4822;
	--color-success-950: #0c270e;

	--breakpoint-xs: 30rem;
}

@layer base {
	:root {
		@apply accent-primary-600;
	}
	:focus {
		@apply outline-2 outline-solid outline-offset-2 outline-current;
	}
}

@layer components {
	/* Highlight */

	.highlight {
		@apply text-primary-600;
	}

	/* Fancybox */

	.fancybox__backdrop {
		@apply bg-black/80! backdrop-blur-sm;
	}
	.f-button {
		@apply bg-transparent!;
	}
	.f-caption {
		@apply text-white!;
	}

	/* Pagination */

	.nav-links {
		@apply flex items-center justify-center gap-2;
	}
	.page-numbers {
		@apply inline-flex align-top items-center justify-center w-8 h-8 text-neutral-500 font-bold rounded-sm;
	}
	.page-numbers:hover {
		@apply bg-neutral-100;
	}
	.page-numbers.current {
		@apply bg-neutral-100;
	}
	.page-numbers.prev,
	.page-numbers.next {
		@apply relative text-[0rem] after:block after:size-4 after:bg-center after:bg-no-repeat after:bg-contain;
	}
	.page-numbers.prev {
		@apply after:bg-[url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM3MzczNzMiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWxlZnQtaWNvbiBsdWNpZGUtY2hldnJvbi1sZWZ0Ij48cGF0aCBkPSJtMTUgMTgtNi02IDYtNiIvPjwvc3ZnPg==")];
	}
	.page-numbers.next {
		@apply after:bg-[url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM3MzczNzMiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLXJpZ2h0LWljb24gbHVjaWRlLWNoZXZyb24tcmlnaHQiPjxwYXRoIGQ9Im05IDE4IDYtNi02LTYiLz48L3N2Zz4=")];
	}

	/* Form field */

	.field {
		@apply block;
	}
	.field.checkbox {
		@apply flex items-start gap-1;
	}
	.field-label {
		@apply block text-sm font-bold;
	}
	.field:not(.checkbox) .field-label {
		@apply mb-1;
	}
	.field-label a {
		@apply underline;
	}
	.field-input,
	.field-textarea {
		@apply block w-full px-3 py-2 text-sm bg-white border-2 border-neutral-500 rounded-sm transition-colors focus:border-primary-600 placeholder:text-neutral-500;
	}
	.field-textarea {
		@apply min-h-28;
	}
	.field-checkbox {
		@apply appearance-none cursor-pointer flex-none inline-flex align-top items-center justify-center size-4 mt-0.5 bg-white border-2 border-neutral-500 rounded-sm transition-colors focus:border-primary-600 checked:bg-primary-600 checked:border-primary-600 before:block before:size-3 before:bg-[url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGVjay1pY29uIGx1Y2lkZS1jaGVjayI+PHBhdGggZD0iTTIwIDYgOSAxN2wtNS01Ii8+PC9zdmc+")] before:bg-center before:bg-no-repeat before:bg-contain before:scale-0 checked:before:scale-100;
	}

	/* Dropzone */

	.dropzone-legend {
		@apply mb-1 text-sm font-bold;
	}
	.dropzone-area {
		@apply cursor-pointer block p-10 text-neutral-500 text-center bg-white border-2 border-dashed border-neutral-500 rounded-sm transition-colors has-focus:border-primary-600 has-focus:outline-2 has-focus:outline-black has-focus:outline-offset-2 has-[.validation-error]:border-red-600;
	}
	.dropzone-area.dragover {
		@apply opacity-50;
	}
	.dropzone-icon {
		@apply inline-flex align-top items-center justify-center size-12 bg-neutral-100 rounded-sm;
	}
	.dropzone-icon svg {
		@apply size-5;
	}
	.dropzone-label {
		@apply block mt-3 text-black text-lg font-bold;
	}
	.dropzone-hint {
		@apply block text-sm;
	}
	.dropzone-button {
		@apply mt-3;
	}
	.dropzone-file {
		@apply flex items-start gap-2 mt-1 px-3 py-2 text-sm border-2 border-neutral-200 rounded-sm;
	}
	.dropzone-file svg {
		@apply w-3.5 h-lh text-neutral-500;
	}

	/* Validation */

	.required {
		@apply text-red-600 no-underline;
	}
	.validation-error {
		@apply border-red-600;
	}
	.error-message {
		@apply block mt-1 text-red-600 text-xs font-bold;
	}

	/* Messages */

	.messages {
		@apply flex items-start gap-4 p-6 rounded-xl;
	}
	.messages.success {
		@apply bg-success-100;
	}
	.messages.error {
		@apply bg-red-100;
	}
	.messages-icon {
		@apply hidden flex-none w-5 h-lh;
	}
	.messages-icon.success {
		@apply text-success-700;
	}
	.messages-icon.error {
		@apply text-red-700;
	}
	.messages.success .messages-icon.success {
		@apply block;
	}
	.messages.error .messages-icon.error {
		@apply block;
	}

	/* Countdown */

	.countdown {
		@apply inline-flex align-top items-start gap-2;
	}
	.countdown-icon {
		@apply flex-none w-4 h-lh text-neutral-500;
	}

	/* Button */

	.button {
		@apply cursor-pointer inline-flex align-top items-center justify-center font-bold text-center uppercase border-2 outline-black transition-colors;

		gap: var(--button--gap, calc(var(--spacing) * 2.5));
		height: var(--button--size, calc(var(--spacing) * 12));
		padding-right: var(--button--padding-inline, calc(var(--spacing) * 5));
		padding-left: var(--button--padding-inline, calc(var(--spacing) * 5));

		color: var(--button--text-filled, var(--color-black));
		fill: var(--button--text-filled, var(--color-black));
		font-size: var(--button--font-size, var(--text-base));
		line-height: var(--button--line-height, var(--text-base--line-height));

		background-color: var(--button--background-filled, var(--color-neutral-200));
		border-color: var(--button--border-filled, var(--color-neutral-200));
		border-radius: var(--button--border-radius, var(--radius-md));
	}
	.button:hover {
		color: var(--button--text-filled, var(--color-black));
		fill: var(--button--text-filled, var(--color-black));

		background-color: var(--button--background-filled-hover, var(--color-neutral-300));
		border-color: var(--button--border-filled-hover, var(--color-neutral-300));
	}
	.button:disabled {
		@apply cursor-default pointer-events-none opacity-50;
	}
	.button svg {
		@apply flex-none;

		width: var(--button--icon-size, calc(var(--spacing) * 4));
		height: var(--button--icon-size, calc(var(--spacing) * 4));
	}

	.button-outline {
		@apply bg-transparent;

		color: var(--button--text-outline, var(--color-black));
		fill: var(--button--text-outline, var(--color-black));

		border-color: var(--button--border-outline, var(--color-neutral-200));
	}
	.button-outline:hover {
		color: var(--button--text-outline, var(--color-black));

		background-color: var(--button--background-outline-hover, var(--color-neutral-100));
		border-color: var(--button--border-outline, var(--color-neutral-200));
	}

	.button-primary {
		--button--text-filled: var(--color-white);
		--button--text-outline: var(--color-primary-600);
		--button--background-filled: var(--color-primary-600);
		--button--background-filled-hover: var(--color-primary-700);
		--button--background-outline-hover: var(--color-primary-100);
		--button--border-filled: var(--color-primary-600);
		--button--border-filled-hover: var(--color-primary-700);
		--button--border-outline: var(--color-primary-600);
	}
	.button-accent {
		--button--text-filled: var(--color-black);
		--button--text-outline: var(--color-accent-700);
		--button--background-filled: var(--color-accent-300);
		--button--background-filled-hover: var(--color-accent-400);
		--button--background-outline-hover: var(--color-accent-100);
		--button--border-filled: var(--color-accent-300);
		--button--border-filled-hover: var(--color-accent-400);
		--button--border-outline: var(--color-accent-700);
	}
	.button-white {
		--button--text-filled: var(--color-black);
		--button--text-outline: var(--color-white);
		--button--background-filled: var(--color-white);
		--button--background-filled-hover: color-mix(in oklab, var(--color-white) 80%, transparent);
		--button--background-outline-hover: color-mix(in oklab, var(--color-white) 20%, transparent);
		--button--border-filled: color-mix(in oklab, var(--color-white) 0%, transparent);
		--button--border-filled-hover: color-mix(in oklab, var(--color-white) 0%, transparent);
		--button--border-outline: var(--color-white);
	}
	.button-facebook {
		--button--text-filled: var(--color-white);
		--button--text-outline: #1663df;
		--button--background-filled: #1663df;
		--button--background-filled-hover: #1950b4;
		--button--background-outline-hover: #daeeff;
		--button--border-filled: #1663df;
		--button--border-filled-hover: #1950b4;
		--button--border-outline: #1663df;
	}
	.button-messenger {
		--button--text-filled: var(--color-white);
		--button--text-outline: #0865c5;
		--button--background-filled: #0865c5;
		--button--background-filled-hover: #0d569b;
		--button--background-outline-hover: #d6f2ff;
		--button--border-filled: #0865c5;
		--button--border-filled-hover: #0d569b;
		--button--border-outline: #0865c5;
	}
}

@utility button-sm {
	--button--gap: calc(var(--spacing) * 2);
	--button--size: calc(var(--spacing) * 10);
	--button--padding-inline: calc(var(--spacing) * 4);
	--button--font-size: var(--text-sm);
	--button--line-height: var(--text-sm--line-height);
	--button--border-radius: var(--radius-sm);
	--button--icon-size: calc(var(--spacing) * 3.5);
}

@utility button-md {
	--button--gap: calc(var(--spacing) * 2.5);
	--button--size: calc(var(--spacing) * 12);
	--button--padding-inline: calc(var(--spacing) * 5);
	--button--font-size: var(--text-base);
	--button--line-height: var(--text-base--line-height);
	--button--border-radius: var(--radius-md);
	--button--icon-size: calc(var(--spacing) * 4);
}

@utility button-lg {
	--button--gap: calc(var(--spacing) * 3);
	--button--size: calc(var(--spacing) * 14);
	--button--padding-inline: calc(var(--spacing) * 6);
	--button--font-size: var(--text-lg);
	--button--line-height: var(--text-lg--line-height);
	--button--border-radius: var(--radius-lg);
	--button--icon-size: calc(var(--spacing) * 4.5);
}
