.prizes > :not(:last-child) {
	margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
	.prizes > :not(:last-child) {
		margin-bottom: 3rem;
	}
}

.prize {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 1.5rem 2rem;

	background-color: var(--neutral-100);
	border-radius: 0.75rem;
}
.prize-icon {
	flex: 0 0 6rem;
	max-width: 6rem;
}
.prize-icon img {
	width: 100%;
}
