.prizes {
	margin-bottom: 3rem;
	padding-right: 1rem;
	padding-left: 1rem;
}
.prizes > :not(:last-child) {
	margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
	.prizes {
		margin-bottom: 4rem;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
	.prizes > :not(:last-child) {
		margin-bottom: 2rem;
	}
}

.prize {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	padding: 1.5rem 1.25rem;

	background-color: var(--neutral-100);
	border-radius: 0.75rem;
}
.prize-icon {
	flex: 0 0 auto;
}
.prize-icon img {
	width: 4rem;
	height: 4rem;
	object-fit: contain;
}
