.leaderboard > :not(:last-child) {
	margin-bottom: 1.5rem;
}
.leaderboard-slider {
	--gutter: calc((var(--viewport-width) - 100%) / 2);

	margin-left: calc(-1 * var(--gutter)) !important;
	margin-right: calc(-1 * var(--gutter)) !important;
	padding-right: var(--gutter) !important;
	padding-left: var(--gutter) !important;
}
.leaderboard-slider .swiper-slide {
	width: calc(var(--viewport-width) - calc(2 * var(--gutter)) - 1rem - 16px);
	height: auto;
}
.leaderboard-button-prev,
.leaderboard-button-next {
	cursor: pointer;
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;

	color: var(--neutral-500);

	background-color: transparent;
	border-radius: 0.25rem;
	outline-color: var(--black);
	transition: all 0.3s;
}
.leaderboard-button-prev:focus,
.leaderboard-button-prev:hover,
.leaderboard-button-next:focus,
.leaderboard-button-next:hover {
	background-color: var(--neutral-100);
}
.leaderboard-button-prev.swiper-button-disabled,
.leaderboard-button-next.swiper-button-disabled {
	pointer-events: none;

	opacity: 0.5;
}
.leaderboard-button-prev svg,
.leaderboard-button-next svg {
	width: 1rem;
	height: 1rem;
}

@media (min-width: 480px) {
	.leaderboard-slider .swiper-slide {
		width: calc((var(--viewport-width) - calc(2 * var(--gutter)) - 1rem - 32px) / 2);
	}
}

@media (min-width: 768px) {
	.leaderboard > :not(:last-child) {
		margin-bottom: 3rem;
	}
	.leaderboard-slider .swiper-slide {
		width: calc((var(--viewport-width) - calc(2 * var(--gutter)) - 1.5rem - 48px) / 3);
	}
}

@media (min-width: 1025px) {
	.leaderboard-slider .swiper-slide {
		width: calc((var(--viewport-width) - calc(2 * var(--gutter)) - 1.5rem - 64px) / 4);
	}
}

@media (min-width: 1200px) {
	.leaderboard-slider-wrapper {
		position: relative;
	}
	.leaderboard-slider-wrapper:before,
	.leaderboard-slider-wrapper:after {
		content: "";
		display: block;
		width: calc((var(--viewport-width) - 100%) / 2);
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 10;
	}
	.leaderboard-slider-wrapper:before {
		right: 100%;

		background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	}
	.leaderboard-slider-wrapper:after {
		left: 100%;

		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	}
	.leaderboard-slider .swiper-slide {
		width: calc((var(--viewport-width) - calc(2 * var(--gutter)) - 48px) / 4);

		transition: opacity 0.3s;
	}
	.leaderboard-slider .swiper-slide:not(.swiper-slide-fully-visible) {
		opacity: 0.5;
	}
}
