/* Messages */

.messages {
	display: flex;
	align-items: flex-start;
	gap: 0.75rem;
	padding: 1.25rem 1rem;

	font-size: 0.875rem;
	line-height: 1.25rem;

	border-radius: 0.375rem;
}
.messages.success {
	background-color: var(--green-100);
}
.messages.error {
	background-color: var(--red-100);
}
.messages-icon {
	display: none;
	flex: 0 0 auto;
	width: 1rem;
	height: 1rem;
	margin-top: 0.125rem;
}
.messages-icon.success {
	fill: var(--green-700);
}
.messages-icon.error {
	fill: var(--red-700);
}
.messages.success .messages-icon.success {
	display: block;
}
.messages.error .messages-icon.error {
	display: block;
}

@media (min-width: 768px) {
	.messages {
		gap: 1rem;
		padding: 1.5rem 1.25rem;

		font-size: 1rem;
		line-height: 1.5rem;
	}
	.messages-icon {
		width: 1.25rem;
		height: 1.25rem;
	}
}

/* Countdown */

.countdown {
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;

	font-size: 1rem;
	line-height: 1.5rem;
}
.countdown svg {
	flex: 0 0 auto;
	width: 1.25rem;
	height: 1lh;

	fill: var(--neutral-500);
}

/* Tabs */

.tabs {
	display: flex;
}
.tab {
	cursor: pointer;
	flex: 1 1 0;
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;

	font-size: 0.875rem;
	line-height: 1.25rem;
	text-align: center;

	background-color: var(--neutral-100);
	border: 2px solid var(--neutral-100);
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	transition: all 0.3s;
}
.tab:has(:focus) {
	position: relative;

	outline: 2px solid var(--black);
	outline-offset: 2px;
}
.tab:hover {
	background-color: var(--neutral-200);
	border-color: var(--neutral-200);
}
.tab:has(:checked) {
	color: var(--white);

	background-color: var(--neutral-500);
	border-color: var(--neutral-500);
}
.tab svg {
	width: 0.875rem;
	height: 0.875rem;
}

/* Form controls */

.field {
	display: block;
}
.checkbox {
	display: flex;
	align-items: flex-start;
	gap: 0.25rem;
}
.field-label {
	display: block;

	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.25rem;
}
.field:not(.checkbox) .field-label {
	margin-bottom: 0.25rem;
}
.field-label a {
	color: inherit;
}
.field-input,
.field-textarea {
	display: block;
	width: 100%;
	padding: 0.5rem 0.75rem;

	color: var(--black);
	font-size: 0.875rem;
	line-height: 1.25rem;

	background-color: var(--white);
	border: 2px solid var(--neutral-500);
	border-radius: 0.25rem;
	transition: all 0.3s;
}
.field-input::placeholder,
.field-textarea::placeholder {
	color: var(--neutral-500);
}
.field-input:focus,
.field-textarea:focus {
	border-color: var(--red-600);
}
.field-input:disabled,
.field-input[disabled],
.field-textarea:disabled,
.field-textarea[disabled] {
	cursor: not-allowed;

	color: var(--neutral-500);

	border-color: var(--neutral-200);
}
.field-textarea {
	min-height: 7rem;
	resize: vertical;
}
.field-checkbox {
	appearance: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 1rem;
	height: 1rem;
	margin-top: 0.125rem;

	color: var(--black);

	background-color: var(--white);
	border: 2px solid var(--neutral-500);
	border-radius: 0.25rem;
	transition: all 0.3s;
}
.field-checkbox::before {
	content: "";
	display: block;
	width: 0.75rem;
	height: 0.75rem;

	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGVjay1pY29uIGx1Y2lkZS1jaGVjayI+PHBhdGggZD0iTTIwIDYgOSAxN2wtNS01Ii8+PC9zdmc+");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	transform: scale(0);
}
.field-checkbox:checked {
	background-color: var(--red-600);
	border-color: var(--red-600);
}
.field-checkbox:checked::before {
	transform: scale(1);
}
.field-checkbox:focus {
	outline: 2px solid var(--black);
	outline-offset: 2px;
}

#contest-entry-form-video-url {
	border-top-left-radius: 0;
}
#contest-entry-form-video-upload-panel {
	border-top-right-radius: 0;
}

/* Dropzone */

.dropzone {
	margin: 0;
	padding: 0;

	border: 0;
}
.dropzone-legend {
	display: block;
	margin-bottom: 0.25rem;

	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.25rem;
}
.dropzone-area {
	cursor: pointer;
	display: block;
	padding: 2.5rem;

	text-align: center;

	background-color: var(--white);
	border: 2px dashed var(--neutral-500);
	border-radius: 0.25rem;
	transition: all 0.3s;
}
.dropzone-area.dragover {
	opacity: 0.5;
}
.dropzone-area:has(:focus) {
	border-color: var(--red-600);
	outline: 2px solid var(--black);
	outline-offset: 2px;
}
.dropzone-area:has(.validation-error) {
	border-color: var(--red-600);
}
.dropzone-field > :not(:last-child) {
	margin-bottom: 0.5rem;
}
.dropzone-icon {
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;

	color: var(--neutral-500);
	fill: var(--neutral-500);

	background-color: var(--neutral-100);
	border-radius: 0.25rem;
}
.dropzone-icon svg {
	width: 1.25rem;
	height: 1.25rem;
}
.dropzone-label {
	display: block;
	margin-top: 0.75rem;

	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.75rem;
}
.dropzone-hint {
	display: block;

	color: var(--neutral-500);
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.dropzone-button {
	margin-top: 0.75rem;
}
.dropzone-file {
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
	margin-top: 0.25rem;
	padding: 0.5rem 0.75rem;

	font-size: 0.875rem;
	line-height: 1.25rem;

	border: 2px solid var(--neutral-200);
	border-radius: 0.25rem;
}
.dropzone-file svg {
	width: 0.875rem;
	height: 1lh;

	color: var(--neutral-500);
}
.dropzone-error {
	display: block;
	margin-top: 0.25rem;

	color: var(--red-600);
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1rem;
}

/* Validation */

.required {
	color: var(--red-600);
	text-decoration: none;
}
.validation-error {
	border-color: var(--red-600);
}
.error-message {
	display: block;
	margin-top: 0.25rem;

	color: var(--red-600);
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1rem;
}
