:root {
	--red-50: #fff1f1;
	--red-100: #ffe0e1;
	--red-200: #ffc5c7;
	--red-300: #ff9da0;
	--red-400: #ff656a;
	--red-500: #fe353b;
	--red-600: #db1218;
	--red-700: #c70e14;
	--red-800: #a41014;
	--red-900: #881417;
	--red-950: #4a0507;
	--yellow-50: #fff8eb;
	--yellow-100: #feecc7;
	--yellow-200: #fdd78a;
	--yellow-300: #fcc059;
	--yellow-400: #fba224;
	--yellow-500: #f57f0b;
	--yellow-600: #d95b06;
	--yellow-700: #b43c09;
	--yellow-800: #922e0e;
	--yellow-900: #78270f;
	--yellow-950: #451103;
	--green-50: #f2fbf2;
	--green-100: #e2f6e2;
	--green-200: #c6ecc7;
	--green-300: #99dc9b;
	--green-400: #65c368;
	--green-500: #3c9f40;
	--green-600: #2f8a33;
	--green-700: #286d2b;
	--green-800: #245727;
	--green-900: #1f4822;
	--green-950: #0c270e;
	--neutral-50: #fafafa;
	--neutral-100: #f5f5f5;
	--neutral-200: #e5e5e5;
	--neutral-300: #d4d4d4;
	--neutral-400: #a3a3a3;
	--neutral-500: #737373;
	--neutral-600: #525252;
	--neutral-700: #404040;
	--neutral-800: #262626;
	--neutral-900: #171717;
	--neutral-950: #0a0a0a;
	--black: #000000;
	--white: #ffffff;
}

body {
	color: var(--black);
	font-family: "PT Sans", sans-serif;
}

:focus {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}
