.hero {
	padding: 56.25% 1.5rem 3rem;
	position: relative;

	color: var(--white);

	background-color: var(--neutral-500);
}
.hero:first-child {
	margin-top: 0;
}
.hero-background,
.hero-background img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.hero-background img {
	object-fit: cover;
	object-position: top center;
}
.hero-content {
	position: relative;
}
.hero .button {
	outline-color: var(--white);
}

@media (min-width: 768px) {
	.hero {
		padding: 6rem 3rem;
	}
	.hero-background img {
		object-position: center;
	}
}
